<section id="main">
  <header>
    <span class="avatar"><%= image_tag avatar_url %></span>
    <h1 class="title"><%= full_name %></h1>
    <p class="sub-title"><%= summary%></p>
  </header>

  <footer>
    <ul class="icons">
      <li><a href="#" class="icon brands fa-twitter">Twitter</a></li>
      <li><a href="#" class="icon brands fa-instagram">Instagram</a></li>
      <li><a href="#" class="icon brands fa-facebook-f">Facebook</a></li>
    </ul>
  </footer>
</section>
