<!DOCTYPE html>
<html>
  <head>
    <title>ComponentDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body class="is-preload">
    <div id="wrapper">
      <%= yield %>

      <footer id="footer">
        <ul class="copyright">
          <li>&copy; 2019 Kasper Meyer</li>
        </ul>
      </footer>
    </div>
    <script>
      if ('addEventListener' in window) {
        window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
      }
    </script>
	</body>
</html>
